{% extends "_layouts/cp" %}
{% set title = "Twig Examples"|t('craft-color-palette') %}
{% set selectedSubnavItem = "examples" %}

{% set crumbs = [
    { label: 'Color Palette'|t('craft-color-palette'), url: url('colorpalette') }
] %}

{% do view.registerAssetBundle("clearbold\\colorpalette\\ColorPaletteBundle") %}

{% block content %}
    <div class="clearbold-styles">
        <div class="code code-block">
{% verbatim %}
<pre>&lt;style&gt;
{% for color in entry.field.all() %}
    --color-{{ color.handle}}: {{ color.getHex() }};
{% endfor %}
&lt;/style&gt;

{# Outputs: #}

&lt;style&gt;
    --color-background: #CC4224;
    --color-text: #000000;
    --color-button: #2A75B3;
    --color-highlight: #F3D403;
&lt;/style&gt;</pre>
{% endverbatim %}
        </div>

        <div class="code code-block">
{% verbatim %}
<pre>&lt;style&gt;
    --color-background: {{ entry.field.handle('background').getRgb() }}
    --color-background-alpha: {{ entry.field.handle('background').getRgba() }}
&lt;/style&gt;

{# Outputs: #}

&lt;style&gt;
    --color-background: rgb(204, 66, 36);
    --color-background-alpha: rgb(204, 66, 36, .5);
&lt;/style&gt;</pre>
{% endverbatim %}
        </div>

        <div class="code code-block">
{% verbatim %}
<pre>&lt;style&gt;
{% set collections = craft.colorpalette.collections %}
{# or #}
{% for collection in craft.colorpalette.all() %}

{% set themes = collections.themes %}
{# or #}
{% for theme in collection.all() %}
{% for color in theme.colors %}
    --color-{{ color.handle}}: {{ color.getHex() }};
{% endfor %}
{% endfor %}
{% endfor %}
&lt;/style&gt;

{# Outputs: #}

&lt;style&gt;
    --color-background: #CC4224;
    --color-text: #000000;
    --color-button: #2A75B3;
    --color-highlight: #F3D403;
&lt;/style&gt;</pre>
{% endverbatim %}
        </div>

        <div class="code code-block">
            {% verbatim %}
<pre>&lt;div class="color-{{ entry.field.collection }} color-{{ entry.field.theme }}"&gt;&lt;/div&gt;

{# Outputs #}

&lt;div class="color-heroes color-captainMarvel"&gt;&lt;/div&gt;</pre>
{% endverbatim %}
        </div>

        <div class="code code-block">
{% verbatim %}
<pre>{% set collection = craft.colorpalette.handle('heroes') %}
{% set theme = collection.handle('captainMarvel') %}
{# or #}
{% set collection = craft.colorpalette.collection('heroes') %}
{% set theme = collection.theme('captainMarvel') %}
{# or #}
{{ craft.colorpalette.collection('heroes').theme('captainMarvel').name }}

&lt;style&gt;
{% for color in theme.colors %}
    --color-{{ color.handle}}: {{ color.getHex() }};
{% endfor %}
&lt;/style&gt;

{# Outputs: #}

&lt;style&gt;
    --color-background: #CC4224;
    --color-text: #000000;
    --color-button: #2A75B3;
    --color-highlight: #F3D403;
&lt;/style&gt;

{# ~~~~~~~~ #}

{% set color = theme.color('background') %}
{# or #}
{% set color = theme.handle('background') %}
&lt;style&gt;
    --color-background: {{ color.getRgb() }}
&lt;/style&gt;

{# Outputs: #}

&lt;style&gt;
    --color-background: rgb(204, 66, 36);
&lt;/style&gt;</pre>
{% endverbatim %}
        </div>

    </div>
{% endblock content %}